<div class="row container">
    <% @hw.each do |h|%>
      <div class="col-xs-6 col-md-3" style="height:300px;" class="thumbnail">
          <%=h.title%><br>
          <img class="img_list" src="<%=h.img_url%>"><br>
      <a href="/changmin/assignment/<%=h.id%>">제출하기</a>
      </div>
    <% end %>
</div>