<div class="container">
  <table style="width:100%">
    <tr>
      <th class="title">제목</th>
      <th class="writer">아이디</th>
    </tr>
    <%@everypost.each do |e|%>
        <tr>  
          <td><a href="/changmin/posts/<%=e.id%>"><%=e.title%></a></td>
          <td><%=User.find(e.user_id).email%></td>
        </tr>
    <%end%>
</table>
<button type="button" class="btn btn-warning" onclick="location.href='/changmin/write' ">글쓰기</button>
</div>